# Using Apache with mod_wsgi

# Make sure it runs in a single process.
# This is needed for the RAM passphrase cache.
WSGIDaemonProcess squeakclient processes=1 threads=15 python-path=/home/eek6/squeakspace/lib:/home/eek6/squeakspace/lib/gnupg:/home/eek6/squeakspace/lib/backports.pbkdf2-0.1:/home/eek6/squeakspace/config/proxy:/home/eek6/squeakspace/config/common

    DocumentRoot /home/eek6/squeakspace/www/proxy/site/

    WSGIProcessGroup squeakclient
    WSGIApplicationGroup %{GLOBAL}

    WSGIScriptAlias /local/crypt/gen-key /home/eek6/squeakspace/www/proxy/scripts/local/crypt/gen_key.py
    WSGIScriptAlias /local/crypt/encrypt /home/eek6/squeakspace/www/proxy/scripts/local/crypt/encrypt.py
    WSGIScriptAlias /local/crypt/decrypt /home/eek6/squeakspace/www/proxy/scripts/local/crypt/decrypt.py
    WSGIScriptAlias /local/crypt/sign /home/eek6/squeakspace/www/proxy/scripts/local/crypt/sign.py
    WSGIScriptAlias /local/crypt/verify-signature /home/eek6/squeakspace/www/proxy/scripts/local/crypt/verify_signature.py

    WSGIScriptAlias /local/group-access /home/eek6/squeakspace/www/proxy/scripts/local/group_access.py
    WSGIScriptAlias /local/group-key /home/eek6/squeakspace/www/proxy/scripts/local/group_key.py
    WSGIScriptAlias /local/list-group-keys /home/eek6/squeakspace/www/proxy/scripts/local/list_group_keys.py
    WSGIScriptAlias /local/list-node-addr /home/eek6/squeakspace/www/proxy/scripts/local/list_node_addr.py
    WSGIScriptAlias /local/list-other-user-keys /home/eek6/squeakspace/www/proxy/scripts/local/list_other_user_keys.py
    WSGIScriptAlias /local/list-private-keys /home/eek6/squeakspace/www/proxy/scripts/local/list_private_keys.py
    WSGIScriptAlias /local/list-public-keys /home/eek6/squeakspace/www/proxy/scripts/local/list_public_keys.py
    WSGIScriptAlias /local/list-user-keys /home/eek6/squeakspace/www/proxy/scripts/local/list_user_keys.py
    WSGIScriptAlias /local/login /home/eek6/squeakspace/www/proxy/scripts/local/login.py
    WSGIScriptAlias /local/message-access /home/eek6/squeakspace/www/proxy/scripts/local/message_access.py
    WSGIScriptAlias /local/node-addr /home/eek6/squeakspace/www/proxy/scripts/local/node_addr.py
    WSGIScriptAlias /local/other-user-key /home/eek6/squeakspace/www/proxy/scripts/local/other_user_key.py
    WSGIScriptAlias /local/passphrase /home/eek6/squeakspace/www/proxy/scripts/local/passphrase.py
    WSGIScriptAlias /local/password /home/eek6/squeakspace/www/proxy/scripts/local/password.py
    WSGIScriptAlias /local/private-key /home/eek6/squeakspace/www/proxy/scripts/local/private_key.py
    WSGIScriptAlias /local/public-key /home/eek6/squeakspace/www/proxy/scripts/local/public_key.py
    WSGIScriptAlias /local/sign-out /home/eek6/squeakspace/www/proxy/scripts/local/sign_out.py
    WSGIScriptAlias /local/user-key /home/eek6/squeakspace/www/proxy/scripts/local/user_key.py
    WSGIScriptAlias /local/user /home/eek6/squeakspace/www/proxy/scripts/local/user.py
    WSGIScriptAlias /local/version /home/eek6/squeakspace/www/proxy/scripts/local/version.py

    # don't enable this unless debugging.
    # If these are enabled, attackers can download the database.
    # WSGIScriptAlias /local/debug /home/eek6/squeakspace/www/proxy/scripts/local/debug.py
    # WSGIScriptAlias /proxy/debug /home/eek6/squeakspace/www/proxy/scripts/proxy/debug.py

    WSGIScriptAlias /proxy/complain /home/eek6/squeakspace/www/proxy/scripts/proxy/complain.py
    WSGIScriptAlias /proxy/group-access /home/eek6/squeakspace/www/proxy/scripts/proxy/group_access.py
    WSGIScriptAlias /proxy/group-key /home/eek6/squeakspace/www/proxy/scripts/proxy/group_key.py
    WSGIScriptAlias /proxy/group-config /home/eek6/squeakspace/www/proxy/scripts/proxy/group_config.py
    WSGIScriptAlias /proxy/group-quota /home/eek6/squeakspace/www/proxy/scripts/proxy/group_quota.py
    WSGIScriptAlias /proxy/group /home/eek6/squeakspace/www/proxy/scripts/proxy/group.py
    WSGIScriptAlias /proxy/last-message-time /home/eek6/squeakspace/www/proxy/scripts/proxy/last_message_time.py
    WSGIScriptAlias /proxy/last-post-time /home/eek6/squeakspace/www/proxy/scripts/proxy/last_post_time.py
    WSGIScriptAlias /proxy/max-message-size /home/eek6/squeakspace/www/proxy/scripts/proxy/max_message_size.py
    WSGIScriptAlias /proxy/max-post-size /home/eek6/squeakspace/www/proxy/scripts/proxy/max_post_size.py
    WSGIScriptAlias /proxy/message-access /home/eek6/squeakspace/www/proxy/scripts/proxy/message_access.py
    WSGIScriptAlias /proxy/message-list /home/eek6/squeakspace/www/proxy/scripts/proxy/message_list.py
    WSGIScriptAlias /proxy/message-quota /home/eek6/squeakspace/www/proxy/scripts/proxy/message_quota.py
    WSGIScriptAlias /proxy/message /home/eek6/squeakspace/www/proxy/scripts/proxy/message.py
    WSGIScriptAlias /proxy/node /home/eek6/squeakspace/www/proxy/scripts/proxy/node.py
    WSGIScriptAlias /proxy/post-list /home/eek6/squeakspace/www/proxy/scripts/proxy/post_list.py
    WSGIScriptAlias /proxy/post /home/eek6/squeakspace/www/proxy/scripts/proxy/post.py
    WSGIScriptAlias /proxy/query-message-access /home/eek6/squeakspace/www/proxy/scripts/proxy/query_message_access.py
    WSGIScriptAlias /proxy/query-user /home/eek6/squeakspace/www/proxy/scripts/proxy/query_user.py
    WSGIScriptAlias /proxy/user-config /home/eek6/squeakspace/www/proxy/scripts/proxy/user_config.py
    WSGIScriptAlias /proxy/user-quota /home/eek6/squeakspace/www/proxy/scripts/proxy/user_quota.py
    WSGIScriptAlias /proxy/user /home/eek6/squeakspace/www/proxy/scripts/proxy/user.py
    WSGIScriptAlias /proxy/quota-available /home/eek6/squeakspace/www/proxy/scripts/proxy/quota_available.py
    WSGIScriptAlias /proxy/version /home/eek6/squeakspace/www/proxy/scripts/proxy/version.py

